.jumbotron {
    margin: 0px auto;
    background-color: #847b7a !important;
    color: #ede7de;
}
.dp{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-self: center;
    box-shadow: #231827 2px 5px 5px;
}
body {
    margin: 0px;
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background-color: #ede7de !important;
    color: #231827 !important;
}
.brand{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.navbar-dark{
    background-color: #77acca;
}
.tab-content{
    padding: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #ede7de;
    color: #231827;
}
.nav-tabs{
    background-color: #edbc55;
}
.nav-link{
    color: #231827;
}
