body{
    background-color: burlywood;
    color: #fceedb;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0%;
    font-weight: bold;
}
.home {
    height: 50px;
    width: 50px;
    align-self: flex-end;
}
.head {
    display: flex;
    flex-direction: row;
}