.web_app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.home_link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.home {
    height: 25px;
    width: 25px;
    align-self: flex-end;
}