.jumbotron {
    margin: 0px auto;
    background-color: #ffa500 !important;
    color: #000000;
}
.dp{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-self: center;
    box-shadow: #c67600 2px 5px 5px;
}
body {
    margin: 0px;
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background-color: #e9ecef !important;
}
.brand{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.navbar-dark{
    background-color: #c67600;
}
.tab-content{
    padding: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}
.nav-tabs{
    background-color: #c67600;
}
.nav-link{
    color: #ffffff;
}
