.site-header {
    background-color: burlywood;
    color: #fceedb;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0%;
}
.link{
    color: #fceedb;
}
.dp{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-self: center;
    box-shadow: #77654e 2px 5px 5px;
}
.site-header-content {
    margin: 10px;
}
